<div class="card-header d-flex justify-content-between">
  <div class="row">
    <div class="col-10 d-flex justify-content-between">
      <div>
        <h5 class="m-0">
          <b>Todos</b>
        </h5>
        <p class="text-secondary m-0"><%= list_completed_count %>/<%= list_size %> Completed</p>
        <p class="text-secondary m-0">
          <div id="deadline-wrapper">
            <%= render partial: 'todo_items/deadline', locals: { todo_list: @todo_list } %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="progress mb-4">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= list_completion_percent %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
 <%= form_for([@todo_item], data: { reflex: 'submit->Todo#create' }) do |f| %>
    <div class="input-group mb-4">
      <%= f.text_field :description, class: 'form-control', placeholder: 'Enter a todo item', id: 'add-todo-item-description' %>
      <div class="input-group-append">
        <%= f.submit 'Add', class: 'btn btn-primary input-group-btn', id: 'add-todo-item-submit', disabled: true %>
      </div>
    </div>
  <% end %>
  <ul class="list-group">
    <% @todo_items.each do |todo_item| %>
      <li class="list-group-item <%= 'bg-light' if todo_item.completed? %>%">
        <div class="d-flex justify-content-between">
          <span>
            <em><%= todo_item.description %></em>
          </span>
          <span>
            <%= link_to "#", class: 'btn btn-info', data: { reflex: 'click->Todo#toggle_completed', id: todo_item.id } do %>
              <%= render partial: 'todo_items/complete_icon', locals: { todo_item: todo_item } %>
            <% end %>
            <%= link_to "#", class: 'btn btn-info', data: { reflex: 'click->Todo#destroy', id: todo_item.id } do %>
              <%= render partial: 'todo_items/destroy_icon', locals: { todo_item: todo_item } %>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
